@import "./../../styles/elements/ul.scss";
@import "./../../styles/elements/gridcontainer.scss";

.inaccount-wrapper{

  padding: 100px;
  font-size: 16px;
  font-weight: 500;
  .inaccount{
    cursor: Pointer;
    &:hover{
      background: aquamarine;
    }
    .text-right{
      text-align: right;
    }
  }
}

.section {
  box-sizing: border-box;
  height: 80vh !important;

}